@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* first section part start---------------*/

.section-1{
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}

.section-1{
    display: flex;
}

.first-section #big{
    font-size: 54px;
    margin-top: 10px;
}
.first-section h1{
    font-size: 44px;
    margin-top: 10px;
}
.first-section span{
    color: orange;
}
.first-section h3{
    font-weight: 500;
    margin-top: 10px;
    font-size: 24px;
}

.first-section p{
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    word-spacing: -1px;
}

 .first-section .btn{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(236, 153, 153),rgb(255, 73, 73));
    color:white;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
 }

.first-section{
    width: 50%;
    padding: 50px;
}
.section-1 .first-section img{
    width: 70%;
    margin:0px 0px 0px 80px
}

/* section 1 end here-------------*/


/* section 2 start here---------------- */

.section-2{
    display: flex;
    background-image: url("../images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 100px;

}
.second-section{
    width: 50%;
}
#sec-sec{
    margin-top: 100px;
    width: 40%;
}

.second-section h2{
    font-size: 45px;
    margin-bottom: 10px;
}
.second-section h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.second-section span{
    color:orange;
}

.second-section p{
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
   

}
.section-2 .second-section img{
    width: 70%;
    margin:0px 0px 0px 80px
}

.second-section .btn1{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(236, 153, 153),rgb(255, 73, 73));
    color:white;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
 }


 /* section 2 end here---------------- */


 /* section 3 start here------------------- */

 #exp{
    margin: 50px 0px;
    text-align: center;
    color: orange;
    
 }

 

   .section-3{
    display: flex;
    margin-bottom: 50px;
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
    
   

   }

   .third-section {
    height: 55vh;
    width:40%;
    background-color:rgb(251, 251, 251);
    box-shadow: 8px 8px 22px 2px #e0e0e0;
    padding:50px;
    margin-left: 70px;
    margin-right: 50px;
    
   }
  

   .third-section h1{
    font-size: 30px;
    padding-bottom: 10px;
   }

   .third-section span{
    font-size: 20px;
    color: orange;
    font-weight: 500;
   }

   .third-section p{
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 20px;
   }

   #border-1{
    border-left: 6px solid rgb(255, 102, 0);
   }

   #border-2{
    border-left: 6px solid rgb(31, 31, 212);
   }
 /* section 3 end here------------------- */