@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* first section part start---------------*/

.section-1{
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}

.section-1{
    display: flex;
}

.first-section #big{
    font-size: 54px;
    margin-top: 10px;
}
.first-section h1{
    font-size: 44px;
    margin-top: 10px;
}
.first-section span{
    color: orange;
}
.first-section h3{
    font-weight: 500;
    margin-top: 10px;
    font-size: 24px;
}

.first-section p{
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    word-spacing: -1px;
}

 .first-section .btn{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(236, 153, 153),rgb(255, 73, 73));
    color:white;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
 }

.first-section{
    width: 50%;
    padding: 50px;
}
.section-1 .first-section img{
    width: 70%;
    margin:0px 0px 0px 80px
}

/* section 1 end here-------------*/


/* section 2 start here---------------- */

.section-2{
    display: flex;
    background-image: url("../images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;

}
.second-section{
    width: 50%;
}
#sec-sec{
    margin-top: 100px;
    width: 40%;
}

.second-section h2{
    font-size: 45px;
    margin-bottom: 10px;
}
.second-section h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.second-section span{
    color:orange;
}

.second-section p{
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
   

}
.section-2 .second-section img{
    width: 70%;
    margin:0px 0px 0px 80px
}

.second-section .btn1{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(236, 153, 153),rgb(255, 73, 73));
    color:white;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
 }